<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HttpServletExample2023</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<servlet-class>org.nlt.controller.TestController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Data</servlet-name>
  	<servlet-class>org.nlt.controller.DataController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Data</servlet-name>
  	<url-pattern>/nlt</url-pattern>
  </servlet-mapping>
</web-app>